:root {
    font-family: 'Montserrat', sans-serif;

    --clr-primary-100: #110120;
    --clr-primary-300: #400978;
    --clr-primary-500: #791CD7;
    --clr-primary-700: #AD70E9;
    --clr-primary-900: #E5D5F4;

    --clr-neutral-900: #E6E6E6;
    --clr-neutral-100: #1A1A1A;

    scroll-behavior: smooth;
}
*, *::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
}

body{
    background-color: var(--clr-neutral-900);
}
  
.title-900{
    font-size: clamp(2.5rem, 1.8571rem + 2.8571vw, 4rem);
    font-weight: 900;
    line-height: 1.2em;
    letter-spacing: -0.03ch;
}

.title-700{
    font-size: clamp(1.75rem, 1.2143rem + 2.381vw, 3rem);;
    font-weight: 800;
    line-height: 1.2em;
    letter-spacing: -0.02ch;
}

.title-500{
    font-size: clamp(1.5rem, 1.2857rem + 0.9524vw, 2rem);
    font-weight: 700;
    line-height: 1.2em;
}

.title-300{
    font-size: clamp(1.25rem, 1.1429rem + 0.4762vw, 1.5rem);
    font-weight: 600;
    line-height: 1.2em;
}

.title-100{
    font-size: clamp(1.125rem, 1.0714rem + 0.2381vw, 1.25rem);
    font-weight: 500;
    line-height: 1.2em;

}
.clr-primary{
    color: var(--clr-primary-500);
}
.clr-primary-300{
    color: var(--clr-primary-300);
}

.clr-text{
    color: var(--clr-primary-100);
}

input[type="submit"]{
    cursor: pointer;
}

.labutton{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: .15ch;

}
.text{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5em;
}

.wrapper{
    max-width: 1200px;
    width: calc(100% - 4rem);
    margin: 0  auto;
}

.button{
    padding: .5em 1em;
    background-color: greenyellow;
    border-radius: 300px;
    align-self: start;
    transition: all .25s;
}

.button--primary{
    background-color: var(--clr-primary-500);
    color: var(--clr-neutral-900);
}

.button--primary:is(:hover, :focus-visible){
    background-color: var(--clr-primary-300);
}

form .button{
    align-self: stretch;
}

/* end utility classes and css reset */


.hero{

    background-color: red;
  
}
.hero-inner{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.hero-inner h1{
    padding-inline-end: 50%;
}

.competenze{
    margin-block-start: 6rem;
}

.competenze :where(.title-700, .title-500){
    text-align: center;
}

.cards{
    margin-block-start: 3rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat( 4, 1fr );
    grid-template-rows: auto 1fr;
}

.card{
    display: grid;
    gap: 1.25rem;
    background-color: var(--clr-primary-900);
    padding: 1.25rem;
    border-radius: 2rem;
    grid-template-rows: subgrid;
    grid-row: span 2;
    position: relative;
    transition: box-shadow .5s;
}



.card__header{
 display: flex;
 gap: 1rem;
 align-items: center;
}

.about{
    margin-block-start: 6rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 5fr 7fr;
}

.about p{
    margin-block-start: 1em;
}

.about-content{
    display: flex;
    flex-direction: column;
}

.about-content :not(:first-child, :nth-child(2)){
    margin-top: 1em;
}


.contact{
    margin-block-start: 9rem;
    background-color: var(--clr-primary-700);
    padding-block-end: 4rem;
}

.contact .wrapper{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    gap: 2rem;
}

.form-wrapper{
    margin-block-start: -4rem;
    background: var(--clr-primary-900);
    border-radius: 2rem;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: box-shadow .5s;
}

.form-wrapper:is(:hover, :focus-within), .card:is(:hover, :focus-within){
    box-shadow: var(--clr-primary-300) -10px 10px 30px;
}


.form{
    display: flex;
    flex-direction: column;
}

input, textarea{
    margin-block-start: .5rem;
    border: solid 1px var(--clr-primary-500);
    border-radius: .25rem;
    font: inherit;
        padding: .25rem .5rem;
}
label{
    margin-block-start: 1rem;
}



@media (width < 1200px) {

    
 .cards{
    grid-template-columns: repeat( 2, 1fr );
 }

 .about{
    grid-template-columns: 1fr;
 }
 
 .contact .wrapper{
    grid-template-columns: 1fr;
 }

}

@media (width < 767px){
 .cards{
    grid-template-columns: 1fr;
 }   
 .form-wrapper{
    padding: 1rem 2rem;
 }
 .hero-inner h1{
    padding-inline-end: 0;
 }
}